.venv/
cats_vs_dogs_small/
feature_extraction/
test1/
train/
ch9/
jena_*/
aclImdb/
embeddings_*/
binary_*/
one_hot_*/
tfidf_*/
.jupyter/
.ipython/
.keras/
.local/
.ipynb_checkpoints/
transformer_encoder/
full_transformer_encoder/
full_transformer_encoder_0/
mini_xception/
oxford_seg/
oxford_segmentation/
__MACOSX/
*.jpg
.bash_history
glove*
aclImdb*
jena*
test1.zip
train.zip
model.png
.DS_Store