.venv/
cats_vs_dogs_small/
feature_extraction/
test1/
train/
ch9/
jena_*/
aclImdb/
embeddings_*/
binary_*/
one_hot_*/
tfidf_*/
.jupyter/
.ipython/
.keras/
.local/
.ipynb_checkpoints/
transformer_encoder/
full_transformer_encoder/
full_transformer_encoder_0/
mini_xception/
oxford_seg/
oxford_segmentation/
spa-eng/
aclImdb/
__MACOSX/
*.zip
*.gz
*.jpg
*.png
glove*
jena*
.DS_Store
.bash_history
